<section>
    <h2>Browser technology</h2>
    <%- include('../partials/error')%>
    <label for="BTteacher">Docent</label>
    <input name="BTteacher" id="BTteacher" placeholder="docent">

    <label for="BTweek">In welke week heb je dit blok gevolgd?</label>
    <ul>
        <li>
            <input type="radio" id="BTweek1" name="BTweek"value="1 - 4">
            <label for="BTweek1">Week 1 - 4</label>
        </li>
        <li>
            <input type="radio" id="BTweek2" name="BTweek" value="5 - 9">
            <label for="BTweek2">Week 5 - 9</label>
        </li>
        <li>
            <input type="radio" id="BTweek3" name="BTweek" value="10 - 14">
            <label for="BTweek3">Week 10 - 14</label>
        </li>
    </ul>

    <label for="BTmaterial">Wat vond je van de lesstof?</label>
    <section class="bar">

        <input type="radio" id="BTMaterial10" name="BTmaterial" value="10">
        <label for="BTMaterial10">10</label>

        <input type="radio" id="BTMaterial9" name="BTmaterial" value="9">
        <label for="BTMaterial9">9</label>

        <input type="radio" id="BTMaterial8" name="BTmaterial" value="8">
        <label for="BTMaterial8">8</label>


        <input type="radio" id="BTMaterial7" name="BTmaterial" value="7">
        <label for="BTMaterial7">7</label>

        <input type="radio" id="BTMaterial6" name="BTmaterial" value="6">
        <label for="BTMaterial6">6</label>

        <input type="radio" id="BTMaterial5" name="BTmaterial" value="5">
        <label for="BTMaterial5">5</label>

        <input type="radio" id="BTMaterial4" name="BTmaterial" value="4">
        <label for="BTMaterial4">4</label>

        <input type="radio" id="BTMaterial3" name="BTmaterial" value="3">
        <label for="BTMaterial3">3</label>

        <input type="radio" id="BTMaterial2" name="BTmaterial" value="2">
        <label for="BTMaterial2">2</label>

        <input type="radio" id="BTMaterial1" name="BTmaterial" value="1">
        <label for="BTMaterial1">1</label>
    </section>

    <label for="BTexplanation">Wat vond je van de Uitleg?</label>
    <section class="bar">

        <input type="radio" id="BTexplanation10" name="BTexplanation" value="10">
        <label for="BTexplanation10">10</label>

        <input type="radio" id="BTexplanation9" name="BTexplanation" value="9">
        <label for="BTexplanation9">9</label>

        <input type="radio" id="BTexplanation8" name="BTexplanation" value="8">
        <label for="BTexplanation8">8</label>

        <input type="radio" id="BTexplanation7" name="BTexplanation" value="7">
        <label for="BTexplanation7">7</label>

        <input type="radio" id="BTexplanation6" name="BTexplanation" value="6">
        <label for="BTexplanation6">6</label>

        <input type="radio" id="BTexplanation5" name="BTexplanation" value="5">
        <label for="BTexplanation5">5</label>

        <input type="radio" id="BTexplanation4" name="BTexplanation" value="4">
        <label for="BTexplanation4">4</label>

        <input type="radio" id="BTexplanation3" name="BTexplanation" value="3">
        <label for="BTexplanation3">3</label>

        <input type="radio" id="BTexplanation2" name="BTexplanation" value="2">
        <label for="BTexplanation2">2</label>

        <input type="radio" id="BTexplanation1" name="BTexplanation" value="1">
        <label for="BTexplanation1">1</label>

    </section>

    <label for="BTinsight">Tot hoever is je inzicht verbeterd?</label>
    <section class="bar">
        <input type="radio" id="BTinsight10" name="BTinsight" value="10">
        <label for="BTinsight10">10</label>

        <input type="radio" id="BTinsight9" name="BTinsight" value="9">
        <label for="BTinsight9">9</label>

        <input type="radio" id="BTinsight8" name="BTinsight" value="8">
        <label for="BTinsight8">8</label>

        <input type="radio" id="BTinsight7" name="BTinsight" value="7">
        <label for="BTinsight7">7</label>

        <input type="radio" id="BTinsight6" name="BTinsight" value="6">
        <label for="BTinsight6">6</label>

        <input type="radio" id="BTinsight5" name="BTinsight" value="5">
        <label for="BTinsight5">5</label>

        <input type="radio" id="BTinsight4" name="BTinsight" value="4">
        <label for="BTinsight4">4</label>

        <input type="radio" id="BTinsight3" name="BTinsight" value="3">
        <label for="BTinsight3">3</label>

        <input type="radio" id="BTinsight2" name="BTinsight" value="2">
        <label for="BTinsight2">2</label>

        <input type="radio" id="BTinsight1" name="BTinsight" value="1">
        <label for="BTinsight1">1</label>

    </section>
</section>