<section>
    <h2>Hunam centered design</h2>
    <label for="HCDteacher">Docent</label>
    <input name="HCDteacher" placeholder="docent">

    <label for="HCDweek">In welke week heb je dit blok gevolgd?</label>
    <ul>
        <li>
            <input type="radio" id="HCDweek1" name="HCDweek"value="1">
            <label for="HCDweek1">Week 1 - 4</label>
        </li>
        <li>
            <input type="radio" id="HCDweek2" name="HCDweek" value="2">
            <label for="HCDweek2">Week 5 - 9</label>
        </li>
        <li>
            <input type="radio" id="HCDweek3" name="HCDweek" value="3">
            <label for="HCDweek3">Week 10 - 14</label>
        </li>
    </ul>

    <label for="HCDmaterial">Wat vond je van de lesstof?</label>
    <section class="bar">

        <input type="radio" id="HCDMaterial10" name="HCDmaterial" value="10">
        <label for="HCDMaterial10">10</label>

        <input type="radio" id="HCDMaterial9" name="HCDmaterial" value="9">
        <label for="HCDMaterial9">9</label>

        <input type="radio" id="HCDMaterial8" name="HCDmaterial" value="8">
        <label for="HCDMaterial8">8</label>


        <input type="radio" id="HCDMaterial7" name="HCDmaterial" value="7">
        <label for="HCDMaterial7">7</label>

        <input type="radio" id="HCDMaterial6" name="HCDmaterial" value="6">
        <label for="HCDMaterial6">6</label>

        <input type="radio" id="HCDMaterial5" name="HCDmaterial" value="5">
        <label for="HCDMaterial5">5</label>

        <input type="radio" id="HCDMaterial4" name="HCDmaterial" value="4">
        <label for="HCDMaterial4">4</label>

        <input type="radio" id="HCDMaterial3" name="HCDmaterial" value="3">
        <label for="HCDMaterial3">3</label>

        <input type="radio" id="HCDMaterial2" name="HCDmaterial" value="2">
        <label for="HCDMaterial2">2</label>

        <input type="radio" id="HCDMaterial1" name="HCDmaterial" value="1">
        <label for="HCDMaterial1">1</label>
    </section>

    <label for="HCDexplanation">Wat vond je van de Uitleg?</label>
    <section class="bar">

        <input type="radio" id="HCDexplanation10" name="HCDexplanation" value="10">
        <label for="HCDexplanation10">10</label>

        <input type="radio" id="HCDexplanation9" name="HCDexplanation" value="9">
        <label for="HCDexplanation9">9</label>

        <input type="radio" id="HCDexplanation8" name="HCDexplanation" value="8">
        <label for="HCDexplanation8">8</label>

        <input type="radio" id="HCDexplanation7" name="HCDexplanation" value="7">
        <label for="HCDexplanation7">7</label>

        <input type="radio" id="HCDexplanation6" name="HCDexplanation" value="6">
        <label for="HCDexplanation6">6</label>

        <input type="radio" id="HCDexplanation5" name="HCDexplanation" value="5">
        <label for="HCDexplanation5">5</label>

        <input type="radio" id="HCDexplanation4" name="HCDexplanation" value="4">
        <label for="HCDexplanation4">4</label>

        <input type="radio" id="HCDexplanation3" name="HCDexplanation" value="3">
        <label for="HCDexplanation3">3</label>

        <input type="radio" id="HCDexplanation2" name="HCDexplanation" value="2">
        <label for="HCDexplanation2">2</label>

        <input type="radio" id="HCDexplanation1" name="HCDexplanation" value="1">
        <label for="HCDexplanation1">1</label>

    </section>

    <label for="HCDinsight">Tot hoever is je inzicht verbeterd?</label>
    <section class="bar">
        <input type="radio" id="HCDinsight10" name="HCDinsight" value="10">
        <label for="HCDinsight10">10</label>

        <input type="radio" id="HCDinsight9" name="HCDinsight" value="9">
        <label for="HCDinsight9">9</label>

        <input type="radio" id="HCDinsight8" name="HCDinsight" value="8">
        <label for="HCDinsight8">8</label>

        <input type="radio" id="HCDinsight7" name="HCDinsight" value="7">
        <label for="HCDinsight7">7</label>

        <input type="radio" id="HCDinsight6" name="HCDinsight" value="6">
        <label for="HCDinsight6">6</label>

        <input type="radio" id="HCDinsight5" name="HCDinsight" value="5">
        <label for="HCDinsight5">5</label>

        <input type="radio" id="HCDinsight4" name="HCDinsight" value="4">
        <label for="HCDinsight4">4</label>

        <input type="radio" id="HCDinsight3" name="HCDinsight" value="3">
        <label for="HCDinsight3">3</label>

        <input type="radio" id="HCDinsight2" name="HCDinsight" value="2">
        <label for="HCDinsight2">2</label>

        <input type="radio" id="HCDinsight1" name="HCDinsight" value="1">
        <label for="HCDinsight1">1</label>

    </section>
</section>