<h2>Progressive web app</h2>
<label for="PWAteacher">Docent</label>
<input id="PWAteacher">

<label for="PWAweek">In welke week heb je dit blok gevolgd?</label>
<ul>
    <li>
        <input type="radio" id="PWAweek1" name="PWAweek"value="1">
        <label for="PWAweek1">Week 1 - 4</label>
    </li>
    <li>
        <input type="radio" id="PWAweek2" name="PWAweek" value="2">
        <label for="PWAweek2">Week 5 - 9</label>
    </li>
    <li>
        <input type="radio" id="PWAweek3" name="PWAweek" value="3">
        <label for="PWAweek3">Week 10 - 14</label>
    </li>
</ul>

<label for="PWAmaterial">Wat vond je van de lesstof?</label>
<ul>
    <li>
        <input type="radio" id="PWAMaterial1" name="PWAmaterial" value="1">
        <label for="PWAMaterial1">1</label>
    </li>
    <li>
        <input type="radio" id="PWAMaterial2" name="PWAmaterial" value="2">
        <label for="PWAMaterial2">2</label>
    </li>
    <li>
        <input type="radio" id="PWAMaterial3" name="PWAmaterial" value="3">
        <label for="PWAMaterial3">3</label>
    </li>
    <li>
        <input type="radio" id="PWAMaterial4" name="PWAmaterial" value="4">
        <label for="PWAMaterial4">4</label>
    </li>
    <li>
        <input type="radio" id="PWAMaterial5" name="PWAmaterial" value="5">
        <label for="PWAMaterial5">5</label>
    </li>
    <li>
        <input type="radio" id="PWAMaterial6" name="PWAmaterial" value="6">
        <label for="PWAMaterial6">6</label>
    </li>
    <li>
        <input type="radio" id="PWAMaterial7" name="PWAmaterial" value="7">
        <label for="PWAMaterial7">7</label>
    </li>
    <li>
        <input type="radio" id="PWAMaterial8" name="PWAmaterial" value="8">
        <label for="PWAMaterial8">8</label>
    </li>
    <li>
        <input type="radio" id="PWAMaterial9" name="PWAmaterial" value="9">
        <label for="PWAMaterial9">9</label>
    </li>
    <li>
        <input type="radio" id="PWAMaterial10" name="PWAmaterial" value="10">
        <label for="PWAMaterial10">10</label>
    </li>
</ul>

<label for="PWAexplanation">Wat vond je van de Uitleg?</label>
<ul>
    <li>
        <input type="radio" id="PWAexplanation1" name="PWAexplanation" value="1">
        <label for="PWAexplanation1">1</label>
    </li>
    <li>
        <input type="radio" id="PWAexplanation2" name="PWAexplanation" value="2">
        <label for="PWAexplanation2">2</label>
    </li>
    <li>
        <input type="radio" id="PWAexplanation3" name="PWAexplanation" value="3">
        <label for="PWAexplanation3">3</label>
    </li>
    <li>
        <input type="radio" id="PWAexplanation4" name="PWAexplanation" value="4">
        <label for="PWAexplanation4">4</label>
    </li>
    <li>
        <input type="radio" id="PWAexplanation5" name="PWAexplanation" value="5">
        <label for="PWAexplanation5">5</label>
    </li>
    <li>
        <input type="radio" id="PWAexplanation6" name="PWAexplanation" value="6">
        <label for="PWAexplanation6">6</label>
    </li>
    <li>
        <input type="radio" id="PWAexplanation7" name="PWAexplanation" value="7">
        <label for="PWAexplanation7">7</label>
    </li>
    <li>
        <input type="radio" id="PWAexplanation8" name="PWAexplanation" value="8">
        <label for="PWAexplanation8">8</label>
    </li>
    <li>
        <input type="radio" id="PWAexplanation9" name="PWAexplanation" value="9">
        <label for="PWAexplanation9">9</label>
    </li>
    <li>
        <input type="radio" id="PWAexplanation10" name="PWAexplanation" value="10">
        <label for="PWAexplanation10">10</label>
    </li>
</ul>

<label for="PWAinsight">Tot hoever is je inzicht verbeterd?</label>
<ul>
    <li>
        <input type="radio" id="PWAinsight1" name="PWAinsight" value="1">
        <label for="PWAinsight1">1</label>
    </li>
    <li>
        <input type="radio" id="PWAinsight2" name="PWAinsight" value="2">
        <label for="PWAinsight2">2</label>
    </li>
    <li>
        <input type="radio" id="PWAinsight3" name="PWAinsight" value="3">
        <label for="PWAinsight3">3</label>
    </li>
    <li>
        <input type="radio" id="PWAinsight4" name="PWAinsight" value="4">
        <label for="PWAinsight4">4</label>
    </li>
    <li>
        <input type="radio" id="PWAinsight5" name="PWAinsight" value="5">
        <label for="PWAinsight5">5</label>
    </li>
    <li>
        <input type="radio" id="PWAinsight6" name="PWAinsight" value="6">
        <label for="PWAinsight6">6</label>
    </li>
    <li>
        <input type="radio" id="PWAinsight7" name="PWAinsight" value="7">
        <label for="PWAinsight7">7</label>
    </li>
    <li>
        <input type="radio" id="PWAinsight8" name="PWAinsight" value="8">
        <label for="PWAinsight8">8</label>
    </li>
    <li>
        <input type="radio" id="PWAinsight9" name="PWAinsight" value="9">
        <label for="PWAinsight9">9</label>
    </li>
    <li>
        <input type="radio" id="PWAinsight10" name="PWAinsight" value="10">
        <label for="PWAinsight10">10</label>
    </li>
</ul>
<label for="PWAcomments">Heb je nog opmerkingen?</label>
<textarea id="PWAcomments" rows="3">
</textarea>