<section>
    <h2>Real time web</h2>
    <label for="RTWteacher">Docent</label>
    <input name="RTWteacher" placeholder="docent">

    <label for="RTWweek">In welke week heb je dit blok gevolgd?</label>
    <ul>
        <li>
            <input type="radio" id="RTWweek1" name="RTWweek"value="1">
            <label for="RTWweek1">Week 1 - 4</label>
        </li>
        <li>
            <input type="radio" id="RTWweek2" name="RTWweek" value="2">
            <label for="RTWweek2">Week 5 - 9</label>
        </li>
        <li>
            <input type="radio" id="RTWweek3" name="RTWweek" value="3">
            <label for="RTWweek3">Week 10 - 14</label>
        </li>
    </ul>

    <label for="RTWmaterial">Wat vond je van de lesstof?</label>
    <section class="bar">

        <input type="radio" id="RTWMaterial10" name="RTWmaterial" value="10">
        <label for="RTWMaterial10">10</label>

        <input type="radio" id="RTWMaterial9" name="RTWmaterial" value="9">
        <label for="RTWMaterial9">9</label>

        <input type="radio" id="RTWMaterial8" name="RTWmaterial" value="8">
        <label for="RTWMaterial8">8</label>


        <input type="radio" id="RTWMaterial7" name="RTWmaterial" value="7">
        <label for="RTWMaterial7">7</label>

        <input type="radio" id="RTWMaterial6" name="RTWmaterial" value="6">
        <label for="RTWMaterial6">6</label>

        <input type="radio" id="RTWMaterial5" name="RTWmaterial" value="5">
        <label for="RTWMaterial5">5</label>

        <input type="radio" id="RTWMaterial4" name="RTWmaterial" value="4">
        <label for="RTWMaterial4">4</label>

        <input type="radio" id="RTWMaterial3" name="RTWmaterial" value="3">
        <label for="RTWMaterial3">3</label>

        <input type="radio" id="RTWMaterial2" name="RTWmaterial" value="2">
        <label for="RTWMaterial2">2</label>

        <input type="radio" id="RTWMaterial1" name="RTWmaterial" value="1">
        <label for="RTWMaterial1">1</label>
    </section>

    <label for="RTWexplanation">Wat vond je van de Uitleg?</label>
    <section class="bar">

        <input type="radio" id="RTWexplanation10" name="RTWexplanation" value="10">
        <label for="RTWexplanation10">10</label>

        <input type="radio" id="RTWexplanation9" name="RTWexplanation" value="9">
        <label for="RTWexplanation9">9</label>

        <input type="radio" id="RTWexplanation8" name="RTWexplanation" value="8">
        <label for="RTWexplanation8">8</label>

        <input type="radio" id="RTWexplanation7" name="RTWexplanation" value="7">
        <label for="RTWexplanation7">7</label>

        <input type="radio" id="RTWexplanation6" name="RTWexplanation" value="6">
        <label for="RTWexplanation6">6</label>

        <input type="radio" id="RTWexplanation5" name="RTWexplanation" value="5">
        <label for="RTWexplanation5">5</label>

        <input type="radio" id="RTWexplanation4" name="RTWexplanation" value="4">
        <label for="RTWexplanation4">4</label>

        <input type="radio" id="RTWexplanation3" name="RTWexplanation" value="3">
        <label for="RTWexplanation3">3</label>

        <input type="radio" id="RTWexplanation2" name="RTWexplanation" value="2">
        <label for="RTWexplanation2">2</label>

        <input type="radio" id="RTWexplanation1" name="RTWexplanation" value="1">
        <label for="RTWexplanation1">1</label>

    </section>

    <label for="RTWinsight">Tot hoever is je inzicht verbeterd?</label>
    <section class="bar">
        <input type="radio" id="RTWinsight10" name="RTWinsight" value="10">
        <label for="RTWinsight10">10</label>

        <input type="radio" id="RTWinsight9" name="RTWinsight" value="9">
        <label for="RTWinsight9">9</label>

        <input type="radio" id="RTWinsight8" name="RTWinsight" value="8">
        <label for="RTWinsight8">8</label>

        <input type="radio" id="RTWinsight7" name="RTWinsight" value="7">
        <label for="RTWinsight7">7</label>

        <input type="radio" id="RTWinsight6" name="RTWinsight" value="6">
        <label for="RTWinsight6">6</label>

        <input type="radio" id="RTWinsight5" name="RTWinsight" value="5">
        <label for="RTWinsight5">5</label>

        <input type="radio" id="RTWinsight4" name="RTWinsight" value="4">
        <label for="RTWinsight4">4</label>

        <input type="radio" id="RTWinsight3" name="RTWinsight" value="3">
        <label for="RTWinsight3">3</label>

        <input type="radio" id="RTWinsight2" name="RTWinsight" value="2">
        <label for="RTWinsight2">2</label>

        <input type="radio" id="RTWinsight1" name="RTWinsight" value="1">
        <label for="RTWinsight1">1</label>

    </section>
</section>