<form id="form" method="post" action="/WN">
    <h2>Jouw informatie</h2>

    <%- include('../partials/error')%>

    <label for="name">Naam</label>
    <% if(answers.name){ %>
        <input name="name"  id="name" placeholder="name" type="text" value=<%= answers.name %>>
    <% } else { %>
        <input name="name"  id="name" placeholder="name" type="text">
    <% }%>
    <label for="studentID">Studentennummer</label>
    <% if(answers.studentID ){ %>
        <input name="studentID" id="studentID" placeholder="Studentennummer" type="text" value=<%= answers.studentID %>>
    <% } else { %>
        <input name="studentID" id="studentID" placeholder="Studentennummer" type="text">
    <% }%>

    <input type="submit" value="Volgende">
</form>
