<h2>Jouw informatie</h2>
<lable for="name">Naam</lable>
<input name="name"  id="name" placeholder="name">
<label for="studentID">Studentennummer</label>
<input name="studentID" id="studentID"placeholder="Studentennummer">
