<h2>Web app from scratch</h2>
<label for="WAFSteacher">Docent</label>
<input id="WAFSteacher">

<label for="WAFSweek">In welke week heb je dit blok gevolgd?</label>
<ul>
    <li>
        <input type="radio" id="WAFSweek1" name="WAFSweek"value="1">
        <label for="WAFSweek1">Week 1 - 4</label>
    </li>
    <li>
        <input type="radio" id="WAFSweek2" name="WAFSweek" value="2">
        <label for="WAFSweek2">Week 5 - 9</label>
    </li>
    <li>
        <input type="radio" id="WAFSweek3" name="WAFSweek" value="3">
        <label for="WAFSweek3">Week 10 - 14</label>
    </li>
</ul>

<label for="WAFSmaterial">Wat vond je van de lesstof?</label>
<ul>
    <li>
        <input type="radio" id="WAFSMaterial1" name="WAFSmaterial" value="1">
        <label for="WAFSMaterial1">1</label>
    </li>
    <li>
        <input type="radio" id="WAFSMaterial2" name="WAFSmaterial" value="2">
        <label for="WAFSMaterial2">2</label>
    </li>
    <li>
        <input type="radio" id="WAFSMaterial3" name="WAFSmaterial" value="3">
        <label for="WAFSMaterial3">3</label>
    </li>
    <li>
        <input type="radio" id="WAFSMaterial4" name="WAFSmaterial" value="4">
        <label for="WAFSMaterial4">4</label>
    </li>
    <li>
        <input type="radio" id="WAFSMaterial5" name="WAFSmaterial" value="5">
        <label for="WAFSMaterial5">5</label>
    </li>
    <li>
        <input type="radio" id="WAFSMaterial6" name="WAFSmaterial" value="6">
        <label for="WAFSMaterial6">6</label>
    </li>
    <li>
        <input type="radio" id="WAFSMaterial7" name="WAFSmaterial" value="7">
        <label for="WAFSMaterial7">7</label>
    </li>
    <li>
        <input type="radio" id="WAFSMaterial8" name="WAFSmaterial" value="8">
        <label for="WAFSMaterial8">8</label>
    </li>
    <li>
        <input type="radio" id="WAFSMaterial9" name="WAFSmaterial" value="9">
        <label for="WAFSMaterial9">9</label>
    </li>
    <li>
        <input type="radio" id="WAFSMaterial10" name="WAFSmaterial" value="10">
        <label for="WAFSMaterial10">10</label>
    </li>
</ul>

<label for="WAFSexplanation">Wat vond je van de Uitleg?</label>
<ul>
    <li>
        <input type="radio" id="WAFSexplanation1" name="WAFSexplanation" value="1">
        <label for="WAFSexplanation1">1</label>
    </li>
    <li>
        <input type="radio" id="WAFSexplanation2" name="WAFSexplanation" value="2">
        <label for="WAFSexplanation2">2</label>
    </li>
    <li>
        <input type="radio" id="WAFSexplanation3" name="WAFSexplanation" value="3">
        <label for="WAFSexplanation3">3</label>
    </li>
    <li>
        <input type="radio" id="WAFSexplanation4" name="WAFSexplanation" value="4">
        <label for="WAFSexplanation4">4</label>
    </li>
    <li>
        <input type="radio" id="WAFSexplanation5" name="WAFSexplanation" value="5">
        <label for="WAFSexplanation5">5</label>
    </li>
    <li>
        <input type="radio" id="WAFSexplanation6" name="WAFSexplanation" value="6">
        <label for="WAFSexplanation6">6</label>
    </li>
    <li>
        <input type="radio" id="WAFSexplanation7" name="WAFSexplanation" value="7">
        <label for="WAFSexplanation7">7</label>
    </li>
    <li>
        <input type="radio" id="WAFSexplanation8" name="WAFSexplanation" value="8">
        <label for="WAFSexplanation8">8</label>
    </li>
    <li>
        <input type="radio" id="WAFSexplanation9" name="WAFSexplanation" value="9">
        <label for="WAFSexplanation9">9</label>
    </li>
    <li>
        <input type="radio" id="WAFSexplanation10" name="WAFSexplanation" value="10">
        <label for="WAFSexplanation10">10</label>
    </li>
</ul>

<label for="WAFSinsight">Tot hoever is je inzicht verbeterd?</label>
<ul>
    <li>
        <input type="radio" id="WAFSinsight1" name="WAFSinsight" value="1">
        <label for="WAFSinsight1">1</label>
    </li>
    <li>
        <input type="radio" id="WAFSinsight2" name="WAFSinsight" value="2">
        <label for="WAFSinsight2">2</label>
    </li>
    <li>
        <input type="radio" id="WAFSinsight3" name="WAFSinsight" value="3">
        <label for="WAFSinsight3">3</label>
    </li>
    <li>
        <input type="radio" id="WAFSinsight4" name="WAFSinsight" value="4">
        <label for="WAFSinsight4">4</label>
    </li>
    <li>
        <input type="radio" id="WAFSinsight5" name="WAFSinsight" value="5">
        <label for="WAFSinsight5">5</label>
    </li>
    <li>
        <input type="radio" id="WAFSinsight6" name="WAFSinsight" value="6">
        <label for="WAFSinsight6">6</label>
    </li>
    <li>
        <input type="radio" id="WAFSinsight7" name="WAFSinsight" value="7">
        <label for="WAFSinsight7">7</label>
    </li>
    <li>
        <input type="radio" id="WAFSinsight8" name="WAFSinsight" value="8">
        <label for="WAFSinsight8">8</label>
    </li>
    <li>
        <input type="radio" id="WAFSinsight9" name="WAFSinsight" value="9">
        <label for="WAFSinsight9">9</label>
    </li>
    <li>
        <input type="radio" id="WAFSinsight10" name="WAFSinsight" value="10">
        <label for="WAFSinsight10">10</label>
    </li>
</ul>
<label for="WAFScomments">Heb je nog opmerkingen?</label>
<textarea id="WAFScomments" rows="3">
</textarea>