<h2>Weekly Nerd</h2>
<label for="WNteacher">Docent</label>
<input name="WNteacher" placeholder="docent">

<label for="WNweek">In welke week heb je dit blok gevolgd?</label>
<ul>
    <li>
        <input type="radio" id="WNweek1" name="WNweek"value="1">
        <label for="WNweek1">Week 1 - 4</label>
    </li>
    <li>
        <input type="radio" id="WNweek2" name="WNweek" value="2">
        <label for="WNweek2">Week 5 - 9</label>
    </li>
    <li>
        <input type="radio" id="WNweek3" name="WNweek" value="3">
        <label for="WNweek3">Week 10 - 14</label>
    </li>
</ul>

<label for="WNmaterial">Wat vond je van de lesstof?</label>
<ul>
    <li>
        <input type="radio" id="WNMaterial1" name="WNmaterial" value="1">
        <label for="WNMaterial1">1</label>
    </li>
    <li>
        <input type="radio" id="WNMaterial2" name="WNmaterial" value="2">
        <label for="WNMaterial2">2</label>
    </li>
    <li>
        <input type="radio" id="WNMaterial3" name="WNmaterial" value="3">
        <label for="WNMaterial3">3</label>
    </li>
    <li>
        <input type="radio" id="WNMaterial4" name="WNmaterial" value="4">
        <label for="WNMaterial4">4</label>
    </li>
    <li>
        <input type="radio" id="WNMaterial5" name="WNmaterial" value="5">
        <label for="WNMaterial5">5</label>
    </li>
    <li>
        <input type="radio" id="WNMaterial6" name="WNmaterial" value="6">
        <label for="WNMaterial6">6</label>
    </li>
    <li>
        <input type="radio" id="WNMaterial7" name="WNmaterial" value="7">
        <label for="WNMaterial7">7</label>
    </li>
    <li>
        <input type="radio" id="WNMaterial8" name="WNmaterial" value="8">
        <label for="WNMaterial8">8</label>
    </li>
    <li>
        <input type="radio" id="WNMaterial9" name="WNmaterial" value="9">
        <label for="WNMaterial9">9</label>
    </li>
    <li>
        <input type="radio" id="WNMaterial10" name="WNmaterial" value="10">
        <label for="WNMaterial10">10</label>
    </li>
</ul>

<label for="WNexplanation">Wat vond je van de Uitleg?</label>
<ul>
    <li>
        <input type="radio" id="WNexplanation1" name="WNexplanation" value="1">
        <label for="WNexplanation1">1</label>
    </li>
    <li>
        <input type="radio" id="WNexplanation2" name="WNexplanation" value="2">
        <label for="WNexplanation2">2</label>
    </li>
    <li>
        <input type="radio" id="WNexplanation3" name="WNexplanation" value="3">
        <label for="WNexplanation3">3</label>
    </li>
    <li>
        <input type="radio" id="WNexplanation4" name="WNexplanation" value="4">
        <label for="WNexplanation4">4</label>
    </li>
    <li>
        <input type="radio" id="WNexplanation5" name="WNexplanation" value="5">
        <label for="WNexplanation5">5</label>
    </li>
    <li>
        <input type="radio" id="WNexplanation6" name="WNexplanation" value="6">
        <label for="WNexplanation6">6</label>
    </li>
    <li>
        <input type="radio" id="WNexplanation7" name="WNexplanation" value="7">
        <label for="WNexplanation7">7</label>
    </li>
    <li>
        <input type="radio" id="WNexplanation8" name="WNexplanation" value="8">
        <label for="WNexplanation8">8</label>
    </li>
    <li>
        <input type="radio" id="WNexplanation9" name="WNexplanation" value="9">
        <label for="WNexplanation9">9</label>
    </li>
    <li>
        <input type="radio" id="WNexplanation10" name="WNexplanation" value="10">
        <label for="WNexplanation10">10</label>
    </li>
</ul>

<label for="WNinsight">Tot hoever is je inzicht verbeterd?</label>
<ul>
    <li>
        <input type="radio" id="WNinsight1" name="WNinsight" value="1">
        <label for="WNinsight1">1</label>
    </li>
    <li>
        <input type="radio" id="WNinsight2" name="WNinsight" value="2">
        <label for="WNinsight2">2</label>
    </li>
    <li>
        <input type="radio" id="WNinsight3" name="WNinsight" value="3">
        <label for="WNinsight3">3</label>
    </li>
    <li>
        <input type="radio" id="WNinsight4" name="WNinsight" value="4">
        <label for="WNinsight4">4</label>
    </li>
    <li>
        <input type="radio" id="WNinsight5" name="WNinsight" value="5">
        <label for="WNinsight5">5</label>
    </li>
    <li>
        <input type="radio" id="WNinsight6" name="WNinsight" value="6">
        <label for="WNinsight6">6</label>
    </li>
    <li>
        <input type="radio" id="WNinsight7" name="WNinsight" value="7">
        <label for="WNinsight7">7</label>
    </li>
    <li>
        <input type="radio" id="WNinsight8" name="WNinsight" value="8">
        <label for="WNinsight8">8</label>
    </li>
    <li>
        <input type="radio" id="WNinsight9" name="WNinsight" value="9">
        <label for="WNinsight9">9</label>
    </li>
    <li>
        <input type="radio" id="WNinsight10" name="WNinsight" value="10">
        <label for="WNinsight10">10</label>
    </li>
</ul>
<label for="WNcomments">Heb je nog opmerkingen?</label>
<textarea id="WNcomments" rows="3">
</textarea>