body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c8e7ff;
    font-size: 20px;
}

form {
    width: max-content;
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    border-radius: 30px;
    padding: 2em;
    background-color: white;
}

.progressBarContainer {
    width: 100%;
    background-color: #ddd;
}

.progressBar {
    width: 0%;
    height: 30px;
    background-color: #5067af;
}

.error {
    background-color: aquamarine;
    line-height: 2em;
    margin: 0.25em;
    padding-left: 0.5em;
}

form h2 {
    text-align: center;
}

input[type=text] {
    padding: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid #848484;
    border-radius: 3px;
    width: 50em;
}

form > label{
    margin: 0.5em 0;
}

form ul {
    list-style: none;
    margin: 0 0 1em 0;
}

form input[type=submit] {
    margin: 2em 0 1em 0;
    padding: 1em;
    border: none;
    border-radius: 10px;
    width: 50%;
    align-self: center;
}


/*create a rating scale*/
/*source https://www.youtube.com/watch?v=aAK8mJ6B94c&ab_channel=OnlineTutorials*/

.bar {
    width: 40em;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1em;
    background: linear-gradient(to right, #d40000, #ffe40e, #00a800);
    border: 1px solid #848484;
    border-radius: 3px;
}

.bar input {
    display: none;
}
.bar label {
    cursor: pointer;
    width: 40vw;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: white;
    color: black;
    border-right: 1px solid black;
}

.bar input:hover ~ label,
.bar input:checked ~ label {
    background: transparent;
}


/*thank you page styling*/
.final {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.final h1 {
    font-size: 2em;
    color: black;
}

.blink {
    color: #ea7a74;
    font-size: 1.5em;
    animation: blink-anim 1s ease 0s infinite alternate;
}

@keyframes blink-anim {
    from { opacity: 1; }
    to { opacity: 0; }
}



/*check if browser supports gradients and flex, else change the layout */

@supports not (background: linear-gradient()) {
    .bar {
        background-color: #848484;
    }
}

@supports not (display: flex) {
    .bar {
        width: 50%;
    }
}

@media (max-width: 1000px)  {

    body {
        overflow-y: scroll;
    }

    h1 {
        font-size: 3em;
    }

    form {
        width: 90%;
        font-size: 1.5em;
        padding: 2em;
        margin: 0em 1em;
    }

    form input {
        line-height: 2em;
        font-size: 1.5em;
        border: 1px solid grey;
    }

    form label:nth-of-type(1),
    form label:nth-of-type(2){
        display: block;
    }

    form label {
        font-size: 1.7em;
        margin-top: 0.5em;
    }

    form input[type=radio] {
        display: none;
    }

    form input:checked ~ label {
        text-decoration: underline;
    }

    .bar input ~ label {
        margin-top: 0;
        display: inherit;
    }

    .bar input:checked ~ label  {
        text-decoration: none;
    }

    .error {
        font-size: 1.5em;
    }

    .final p {
        font-size: 2em;
    }
}