<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Enquete voor de minor web development en design">
        <meta name="keywords" content="enquete, minor">
        <meta name="author" content="Sharon Veldman">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Webdev enquete</title>
        <link rel="stylesheet" href="/style.css" type="text/css">
        <script defer src="/script.js"></script>
    </head>
    <body>
        <h1>Minor web development en design enquete</h1>
            <%- include('../partials/BT')%>
    </body>
</html>