<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Enquete voor de minor web development en design">
        <meta name="keywords" content="enquete, minor">
        <meta name="author" content="Sharon Veldman">
        <title>Minor webdev enquete</title>
        <link rel="stylesheet" href="/style.css" type="text/css">
        <script defer src="/script.js"></script>
    </head>
    <body>
    <h1>Minor web dev enquete</h1>
            <%- include('../partials/userInfo')%>
    </body>
</html>