<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Minor webdev enquete</title>
    </head>
    <body>
        <h1>Minor web dev enquete</h1>
        <p>bedankt voor het invullen <%= name %></p>
    <%= name %>
    </body>
</html>