<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Minor webdev enquete</title>
        <link rel="stylesheet" href="/style.css" type="text/css">
    </head>
    <body>
    <h1>Minor web dev enquete</h1>
        <section class="final">
             <p>bedankt voor het invullen <%= studentID %></p>

            <h1>< Enquete /> <span class="blink">_</span></h1>
            </div>
        </section>
    </body>
</html>